@{
    ViewBag.Title = "About";
}
@Styles.Render("~/Content/about.css")

<h2 class="text-center">@ViewBag.Title US</h2>


<section id="about-us">
    <div class="container my-5">
        <div class="row">

            <div class="col-md-6">
                <div class="about-content title mb-3">
                    <h3 class="text-center">
                    
                        Our History <br>
                        Mission & Vision <br>
                    </h3>
                    <p class="mb-3">
                        Lorem ipsum dolor sit amet, sit mazim everti te, et nulla 
                        melius ius. Senserit imperdiet his ea, ei ius esse gubergren. 
                        Vix zril corrumpit scripserit et, porro quando sensibus ea duo. 
                        t nec nisl luptatum erroribus. Id has probo impetus dolores, cu fabellas 
                        lucilius has, at his malis reformidans.

                        Mea ut saepe luptatum honestatis. Eos delenit scriptorem ex. Tale purto 
                        movet at pro, ut est vide dicat ocurreret. Id usu eirmod vituperatoribus. 
                        Has et magna graecis consulatu, no saepe nemore volutpat eum. No fuisset volumus 
                        postulant sea, vel commodo accusam voluptatibus eu. Vis ea eros sapientem qualisque, 
                        in vim iisque labitur.

</div>
            </div>

            <div class="col-md-offset-6">
                <img src="https://source.unsplash.com/_STLYdogRF4/555x450" class="img-fluid" alt="travel picture">
            </div>
        </div>

    </div>
</section>
