@{
    ViewBag.Title = "Contact";
}
@Styles.Render("~/Content/packages.css")
<h2>@ViewBag.Title Us</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control text-center" id="first_name" name="first_name">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name">
                </div>

                <div class="form-group">
                    <label for="text-area">Message</label>
                    <textarea class="form-control rounded-0" id="textarea" rows="6"></textarea>

                </div>

                <button type="submit" class="text-center btn-default">Submit</button>
            </form>
        </div>



        <div class="col-md-6">
            <address>
                Calgary Tower<br />
                Downtown Calgary,AB<br />
                <p>Phone:<a href="tel:">403-555-5555</a></p>

            </address>

            <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d10033.901849924196!2d-114.0630914!3d51.044308!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x53716ffd8b6c3227%3A0xf1592407377b9781!2sTravel+Experts%2C+101+9+Ave+SW%2C+Calgary%2C+AB+T2P+1J9!3m2!1d51.044308!2d-114.06309139999999!5e0!3m2!1sen!2sca!4v1558643396852!5m2!1sen!2sca"></iframe>
        </div>
    </div>
</div>




