@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/home.css")
@Scripts.Render("~/bundles/home")

<body>

 

    <header id="home">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(../../Content/Images/aerial-view-beach-clear-678725.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig carouseltext text-center">Welcome to <span>Travel Experts</span></h1>
                        <p class="animated fadeInRightBig carouseltext2 text-center">We are the Experts in Travel</p>
                    </div>
                </div>
                <div class="item" style="background-image: url(../../Content/Images/aeroplane-aircraft-airplane-46148.jpg)">
                    <div class="caption">
                        <h1 class="text-center  carouseltext fadeInLeftBig">Get out of town!</h1>
                        <p class="text-center   carouseltext2 fadeInRightBig">We have some of the best packages to get you on your way</p>

                    </div>
                </div>
                <div class="item" style="background-image: url(../../Content/Images/aeroplanes-aircrafts-airplanes-47044.jpg)">
                    <div class="caption">
                        <h1 class="text-center carouseltext fadeInLeftBig">We are <span>Check out our exciting packages!</span></h1>
                        <p class= "text-center  animated carouseltext2 fadeInRightBig">Designed especially for you in mind</p>
                
                    </div>
                </div>
                <div class="item" style="background-image: url(../../Content/Images/architecture-bay-buildings-2311602.jpg)">
                    <div class="caption">
                        <h1 class="text-center carouseltext fadeInLeftBig">We are <span></span></h1>
                        <p class="text-center  carouseltext2 fadeInRightBig">Plan that Vacation you have always been wanting!</p>
              
                    </div>
                </div>
            </div>
        </div>
            
     

       
    </header><!--/#home-->
    <section id="services">
        <div class="container">
            <div class="heading">
                <div class="row">
                    <div class="text-center col-sm-8 col-sm-offset-2">
                        <h2>Are you looking for an Exciting Experience?</h2>
                        <p>Our packages are custom designed and assembled with you un mind!</p>
                    </div>
           
                </div>
            </div>
            <div class="text-center our-services">
                <div class="row">
                    <div class="col-sm-4 ">
                        <div class="service-icon">
                          
           
                        </div>
                        <div class="service-info">
                            <h3>What we offer</h3>
                            <p>A custom portal for you to shop and select packages that you want!</p>
                            <img src="~/Content/Images/ancient-architecture-asia-460376.jpg"/>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-icon">
                       
                        </div>
                        <div class="service-info">
                            <h3>Find Your Inpiration!</h3>
                            <p>Or select your own adventure! You can do both with our new aplication!</p>
                            <img src="~/Content/Images/ancient-architecture-building-2040807.jpg"/>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                     
                     
                        <div class="service-info">
                            <h3>Awesome Support</h3>
                            <p>We are there to help with all your travel needs! Call today with any questions.</p>
                            <img src="~/Content/Images/architecture-bay-buildings-2311602.jpg" />
                        </div>
                    </div>
                  
                      
                    </div>
                 
                </div>
            </div>
       
    </section><!--/#services-->



        <div class="container-fluid">
    
           
            
                
         
                
             
            <div class="social-icons text-center">

                <a class="facebook" href="#"><i class="fab fa-facebook-square fa-4x"></i></a>
                <a class="twitter" href="#"><i class="fab fa-twitter-square fa-4x"></i></a>
                <a class="linkedin" href="#"><i class="fab fa-linkedin fa-4x"></i></a>



            </div>
  </div>
                 
                 
          

  

  

</body>


@*<div class="jumbotron">


    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@